<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header"/>

<body>

<nav th:replace="common/navbar :: navbar"/>

<!--/*@thymesVar id="Publication" type="ar.com.vendepor.vendepor48.domain"*/-->

<div class="container">

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <img th:src="@{${'/publication/img/' + publication.id}}" class="card-img-top" alt="...">
                    <hr>
                    <h2 class="card-price text-center" th:text="${'$' + #numbers.formatDecimal(publication.amount, 0, 2, 'POINT')}">$0</h2>
                </div>
                <div class="col-8">
                    <h3 class="card-title" th:text="${publication.title}">Card title</h3>
                    <p class="card-text" th:text="${publication.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="common/footer :: footer"/>

</div>

<div th:replace="common/bottom :: body-bottom-scripts"/>

</body>
</html>